body {
    background-color: #f8f9fa;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #e9ecef;
}

.bouton {
    margin-left: 39%;
}

.input-group {
   width: 590px; 
}

.form-row {
    width: 600px; 
}

h4{
    color: blue;
}